{% extends 'base.html' %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">
    {% include 'includes/alert.html' %}

    <!-- ============================ COMPONENT LOGIN   ================================= -->

    {% if request.GET.command == 'verification' %}
        <div class="container mx-auto alert alert-info text-center" role="alert" style="max-width: 1020px; margin-top:100px;">
            Thank you for registering us. We have sent you a verification email to your email address {{request.GET.email}}. Please click on the verification link to activate your account.
            <br><br>
            Already Registered? <a href="{% url 'login' %}">Login</a>
        </div>
        
    {% else %}
        <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
        <div class="card-body">
        <h4 class="card-title mb-4">Sign in</h4>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input name="email" type="email" class="form-control" placeholder="Email Address" value={{email}}>
            </div> <!-- form-group// -->
            <div class="form-group">
                <input name="password" type="password" class="form-control" placeholder="Password" value={{password}}>
            </div> <!-- form-group// -->
            
            <div class="form-group">
                <a href="{% url 'forgot_password' %}" class="float-right">Forgot password?</a> 
            
            </div> <!-- form-group form-check .// -->
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Login  </button>
            </div> <!-- form-group// -->    
        </form>
        </div> <!-- card-body.// -->
        </div> <!-- card .// -->

        <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
        <br><br>
    {% endif %}
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}