{% extends 'base.html' %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">

{% include 'includes/alert.html' %}

<!-- ============================ COMPONENT REGISTER   ================================= -->
	<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
      <article class="card-body">
		<header class="mb-4"><h4 class="card-title">Sign up</h4></header>
		<form action={% url 'register' %} method='POST'>
                {% csrf_token %}
				<div class="form-row">
					<div class="col form-group">
						<label>First name</label>
					  	<input name="first_name" type="text" class="form-control" required placeholder="Enter First Name" value={{first_name}} >
					</div> <!-- form-group end.// -->
					<div class="col form-group">
						<label>Last name</label>
					  	<input name="last_name" type="text" class="form-control" required placeholder="Enter Last Name" value={{last_name}}>
					</div> <!-- form-group end.// -->
				</div> <!-- form-row end.// -->
				<div class="form-group">
					<label>Email</label>
					<input name="email" type="email" class="form-control" required placeholder="Enter Email (john.deo@example.com)" value={{email}}>
					<small class="form-text text-muted">We'll never share your email with anyone else.</small>
				</div> <!-- form-group end.// -->
				<div class="form-group">
                    {% if gender == "Female" %}
                        <label class="custom-control custom-radio custom-control-inline">
                        <input class="custom-control-input" type="radio" name="gender" value="Male" >
                        <span class="custom-control-label"> Male </span>
                        </label>
                        <label class="custom-control custom-radio custom-control-inline">
                        <input class="custom-control-input" checked="" type="radio" name="gender" value="Female">
                        <span class="custom-control-label"> Female </span>
                        </label>
                    {% else %}
                    <label class="custom-control custom-radio custom-control-inline">
					  <input class="custom-control-input" checked="" type="radio" name="gender" value="Male">
					  <span class="custom-control-label"> Male </span>
					</label>
					<label class="custom-control custom-radio custom-control-inline">
					  <input class="custom-control-input" type="radio" name="gender" value="Female">
					  <span class="custom-control-label"> Female </span>
					</label>
                    {% endif %}
				</div> <!-- form-group end.// -->
				<div class="form-row">
					<div class="form-group col-md-6">
					  <label>City</label>
					  <input name="city" type="text" class="form-control" required placeholder='Your City' value={{city}}>
					</div> <!-- form-group end.// -->
					<div class="form-group col-md-6">
					  <label>Country</label>
					  <select name="country" id="inputState" class="form-control" required value={{country}} >
					    <option> Choose...</option>
					      {% comment %} <option>Uzbekistan</option>
					      <option>Russia</option> {% endcomment %}
					      <option selected="">INDIA</option>
					      {% comment %} <option>USA</option> {% endcomment %}
					      {% comment %} <option>Afganistan</option> {% endcomment %}
					  </select>
					</div> <!-- form-group end.// -->
				</div> <!-- form-row.// -->
				<div class="form-row">
					<div class="form-group col-md-6">
						<label>Create password</label>
					    <input name="password" class="form-control" required type="password" placeholder='Passsword' value={{password}} >
					</div> <!-- form-group end.// --> 
					<div class="form-group col-md-6">
						<label>Repeat password</label>
					    <input name="confirm_password" class="form-control" required type="password" placeholder='Comfirm Password' value={{confirm_password}}  >
					</div> <!-- form-group end.// -->  
				</div>
			    <div class="form-group">
			        <button type="submit" class="btn btn-primary btn-block"> Register  </button>
			    </div> <!-- form-group// -->      
			        
			</form>
		</article><!-- card-body.// -->
    </div> <!-- card .// -->
    
    <p class="text-center mt-4">Have an account? <a href="{% url 'login' %}">Log In</a></p>
    <br><br>
<!-- ============================ COMPONENT REGISTER  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}