{% extends 'base.html' %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">
    {% include 'includes/alert.html' %}

    <!-- ============================ COMPONENT LOGIN   ================================= -->


        <div class="card mx-auto" style="max-width: 400px; margin-top:100px;">
        <div class="card-body">
        <h4 class="card-title mb-4">Reset Password </h4>
        <form action="#" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input name="password" type="password" class="form-control" placeholder="Enter Your Password" value={{email}}>
            </div> <!-- form-group// -->

            <div class="form-group">
                <input name="confirm_password" type="password" class="form-control" placeholder="Confirm Your Password" value={{email}}>
            </div> <!-- form-group// -->

            <br>
            
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Submit  </button>
            </div> <!-- form-group// -->    
        </form>
        </div> <!-- card-body.// -->
        </div> <!-- card .// -->

        <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
        <br><br>

    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}