{% if messages %}
    {% for message in messages %}
        <div id="message" class="container">
        <div {% if message.tags %} class="container alert-dismissible col-md-5 text-center alert alert-{{ message.tags }}"{% endif %} role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error: {% endif %}
        {{ message }}
        </div>
        </div>
    {% endfor %}
{% endif %}